{% extends "::base.html.twig" %}

{% block title %}Legislator{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 columns">

<p>Vitajte v aplikácii Legislator.</p>

{% if documents|length > 0 %}
    <h2>{% trans %}document.listing{% endtrans %}</h2>
    <table>
	<thead>
		<tr>
			<th>#</th>
			<th>{% trans %}document.name{% endtrans %}</th>
			<th>{% trans %}document.description{% endtrans %}</th>
			<th>{% trans %}document.version{% endtrans %}</th>
			<th>{% trans %}document.status{% endtrans %}</th>
			<th>Vložil</th>
			<th>Čas vytvorenia</th>
			<th>Čas poslednej zmeny</th>
			{% if app.user %}<th>{% trans %}common.actions{% endtrans %}</th>{% endif %} {# TODO check privileges #}
		</tr>
	</thead>
	<tbody>
	{% for d in documents %}
		<tr>
			<td>{{ loop.index }}.</td>
			<td><a href="{{ path('legislator_view', {'id': d.id}) }}">{{ d.name }}</a></td>
			<td>{{ d.description[:100] ~ '...' }}</td>
			<td>{{ d.version }}{% if d.isfinalVersion %} ({% trans %}document.final_version{% endtrans %}){% endif %}</td>
			<td>{{ d.mapFromStatusCode(d.status)|trans }}</td>
			<td>{{ d.createdBy.surname }}</td>
			<td>{{ d.createdOn|date('d.m.Y H:i:s') }}</td>
			<td>{{ d.modifiedOn|date('d.m.Y H:i:s') }}</td>
			{% if app.user %}
			<td>
			<ul class="button-group">
			{% if d.isStatusCommenting %}
			    <li><a href="{{ path('legislator_view', {'id': d.id}) }}" class="small button">Pripomienkovať</a></li>
			{% endif %}
			{% if app.user and d.createdBy.id == app.user.id %}
			    <li><form method="get" action="{{ path('legislator_edit', {'id': d.id}) }}" class="action">
			        <input type="submit" value="{% trans %}common.button.edit{% endtrans %}" class="small edit button"/>
			    </form></li>
			    {% if not d.nextversion %}
			    <li><form method="post" action="{{ path('legislator_delete', {'id': d.id}) }}" class="action">
			        <input type="submit" value="{% trans %}common.button.delete{% endtrans %}" class="small delete button"/>
			    </form></li>
			    {% endif %}

			{% endif %}
			</ul>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
    </table>
{% else %}
    <p>Zatiaľ tu nie sú žiadne dokumenty.</p>
{% endif %}

<p>
{% if can_add_document %}
<a href="{{ path('legislator_new') }}" class="add button">{% trans %}button.document.add{% endtrans %}</a>
{% else %}
Aby ste mohli pridať dokument, musíte sa najskôr <a href="{{ path('fos_user_security_login') }}">prihlásiť</a>.
{% endif %}
</p>

</div>
</div>
{% endblock %}
