{% extends "::base.html.twig" %}

{% block title %}Legislator{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 columns">

{% if is_archive %}
<h1>Archív</h1>
{% else %}
<p>Vitajte v aplikácii Legislator.</p>
{% endif %}
{% if documents|length > 0 %}
    <h2>{% trans %}document.listing{% endtrans %}</h2>
    <table>
	<thead>
		<tr>
			<th>#</th>
			<th>{% trans %}document.name{% endtrans %}</th>
			<th>{% trans %}document.description{% endtrans %}</th>
			<th>{% trans %}document.version{% endtrans %}</th>
			<th>{% trans %}document.status{% endtrans %}</th>
			<th>Vložil</th>
			<th>Čas poslednej zmeny</th>
			<th>{% trans %}document.comment_until{% endtrans %}</th>
			{% if app.user %}<th>{% trans %}common.actions{% endtrans %}</th>{% endif %} {# TODO check privileges #}
		</tr>
	</thead>
	<tbody>
	{% for d in documents %}
		<tr>
			<td>{{ loop.index }}.</td>
			<td><a href="{{ path('legislator_view', {'id': d.id}) }}">{{ d.name }}</a></td>
			<td>{{ d.description[:100] ~ '...' }}</td>
			<td>{{ d.version }}{% if d.isfinalVersion %} ({% trans %}document.final_version{% endtrans %}){% endif %}</td>
			<td>{{ d.mapFromStatusCode(d.status)|trans }}</td>
			<td>{{ d.createdBy.surname }}</td>
			<td>{{ d.modifiedOn|date('d.m.Y H:i:s') }}</td>
			<td>{% if date(d.commentUntil) > date() %}{{ d.commentUntil|date('d.m.Y') }}{% else %}neobmedzene{% endif %}</td>
			{% if app.user %}
			<td>
			<ul class="button-group">
			{% if d.isStatusCommenting %}
			    <li><a href="{{ path('legislator_view', {'id': d.id}) }}" class="small button">Pripomienkovať</a></li>
			{% endif %}
			{% if app.user and d.createdBy.id == app.user.id %}
			    <li>
			    	<a href="{{ path('legislator_edit', {'id': d.id}) }}" class="small edit button"><i class="fi-page-edit"></i>{% trans %}common.button.edit{% endtrans %}</a>
			    </li>
			    {% if not d.nextversion %}
			    <li><form method="post" action="{{ path('legislator_delete', {'id': d.id}) }}" class="action">
			        <button type="submit" class="small delete button"><i class="fi-page-delete"></i>{% trans %}common.button.delete{% endtrans %}</button>
			    </form></li>
			    {% endif %}

			{% endif %}
			</ul>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
    </table>
{% else %}
    <p>Zatiaľ tu nie sú žiadne dokumenty.</p>
{% endif %}

{% if not is_archive %}
    <p>
    {% if can_add_document %}
    <a href="{{ path('legislator_new') }}" class="add button"><i class="fi-page-add"></i>{% trans %}button.document.add{% endtrans %}</a>
    {% else %}
    Aby ste mohli pridať dokument, musíte sa najskôr <a href="{{ path('fos_user_security_login') }}">prihlásiť</a>.
    {% endif %}
    </p>
{% endif %}

</div>
</div>
{% endblock %}
