{% extends "::base.html.twig" %}

{% block title %}{{ document.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h1 class="header">{{ document.name }}</h1>
    </div>
</div>

{# TODO check privileges #}
<div class="row">
<div class="large-8 columns">
<h2>{% trans %}document.description{% endtrans %}</h2>
<p class="description">{{ document.description | nl2br | converturls }}</p>

{% if document.previousVersion %}
<h2>{% trans %}document.view.previous_versions{% endtrans %}</h2>
<p><a href="{{ path('legislator_view', {'id': document.previousVersion.id }) }}">{% trans %}document.view.view_version{% endtrans %} {{ document.previousVersion.version }}</a></p>
{% endif %}

<h2>{% trans %}document.view.files{% endtrans %}</h2>
<ul>
    {% if document.webpath  %}<li><a href="{{ path('legislator_document_download_main_file', {'id': document.id}) }}">{% trans %}document.file{% endtrans %}</a></li>{% endif %}
    {% if document.webpathsubstantiation  %}<li><a href="{{ path('legislator_document_download_substantiation_file', {'id': document.id}) }}">{% trans %}document.file_substantiation{% endtrans %}</a></li>{% endif %}
</ul>
</div>

<div class="large-4 columns panel">
{# TODO check privileges #}
{% if is_document_owner %}
<h2>{% trans %}common.actions{% endtrans %}</h2>
<ul class="button-group">
	<li><a href="{{ path('legislator_edit', {'id': document.id })}}" class="small button edit">{% trans %}common.button.edit{% endtrans %}</a></li>
	<li><a href="{{ path('legislator_delete', {'id': document.id })}}" class="small button delete">{% trans %}common.button.delete{% endtrans %}</a></li>
</ul>
{% if document.isStatusNew %}
    {{ form_start(document_form) }}
    {{ form_widget(document_form.status, {'attr': {'value': constant('Legislator\\LegislatorBundle\\Entity\\Document::STATUS_COMMENTING')}}) }}
    <input type="submit" value="Začať pripomienkovanie" class="button"/>
    {{ form_end(document_form) }}
{% endif %}
{% if document.isStatusCommenting %}
    {{ form_start(document_form) }}
    {{ form_widget(document_form.status, {'attr': {'value': constant('Legislator\\LegislatorBundle\\Entity\\Document::STATUS_PROCESSING_COMMENTS')}}) }}
    <input type="submit" value="Vyhodnotiť pripomienky" class="button"/>
    {{ form_end(document_form) }}
{% endif %}
{% if document.isStatusProcessingComments %}
    {{ form_start(document_form) }}
    {{ form_widget(document_form.status, {'attr': {'value': constant('Legislator\\LegislatorBundle\\Entity\\Document::STATUS_FINISHED')}}) }}
    <input type="submit" value="{% trans %}document.view.button.end_comment_processing{% endtrans %}" class="button"/>
    {{ form_end(document_form) }}
{% endif %}
{% if document.isStatusFinishedProcessingComments and not document.isFinalVersion %}
    <a href="{{ path('legislator_document_new_version', {'id': document.id }) }}" class="add button">{% trans %}document.view.button.add_new_version{% endtrans %}</a>
{% endif %}

{% endif %}

<h2>{% trans %}document.view.meta_data{% endtrans %}</h2>
<dl class="document-data">
	<dt>{% trans %}document.status{% endtrans %}</dt><dd>{{ document.mapFromStatusCode(document.status)|trans }}</dd>
	<dt>{% trans %}document.version{% endtrans %}</dt><dd>{{ document.version }}{% if document.isfinalVersion %} ({% trans %}document.final_version{% endtrans %}){% endif %}</dd>
	<dt>{% trans %}common.created_by{% endtrans %}</dt><dd>{{ document.createdBy }}</dd>
	<dt>{% trans %}common.created_on{% endtrans %}</dt><dd>{{ document.createdOn|date('d.m.Y H:i:s') }}</dd>
	<dt>{% trans %}common.modified_on{% endtrans %}</dt><dd>{{ document.modifiedOn|date('d.m.Y H:i:s') }}</dd>
</dl>

</div>
</div>

<div class="row">
<div class="large-12 columns">
<h2>{% trans %}document.view.comments{% endtrans %}</h2>
{% if comments %}
<table id="comments">
	<thead>
		<tr>
			<th width="40%">{% trans %}comment.content{% endtrans %}</th>
			<th>{% trans %}comment.substantiation{% endtrans %}</th>
			<th>{% trans %}comment.created_by{% endtrans %}</th>
			<th>{% trans %}common.modified_on{% endtrans %}</th>
			{% if document.isStatusFinishedProcessingComments %}
			<th>{% trans %}comment.reply{% endtrans %}</th>
			{% endif %}
            {% if show_comment_actions %}
			<th>{% trans %}common.actions{% endtrans %}</th>
            {% endif %}
		</tr>
	</thead>
	<tbody>
	{% for comment in comments %}
	<tr class="comment{% if comment.isPrincipal() %} principal{% endif %}{% if comment.isTechnical() %} technical{% endif %}{% if comment.isAccepted %} accepted{% endif %}{% if comment.isRejected %} rejected{% endif %}">
		<td>{{ comment.content }}</td>
		<td>{{ comment.substantiation }}</td>
		<td>{{ comment.createdBy }}</td>
		<td>{{ comment.modifiedOn|date('d.m.Y H:i') }}</td>
		{% if document.isStatusFinishedProcessingComments %}
		<td>{{ comment.reply }}</td>
		{% endif %}
        {% if show_comment_actions %}
		<td>
		<ul class="button-group">
		    {% if can_take_comment_actions and comment.isOwner(app.user) %}
    		<li><form method="get" action="{{ path('legislator_view', {'id': document.id })}}#comment-form" class="action"><input type="hidden" name="comment_id" value="{{ comment.id }}"/><input type="submit" name="edit" value="{% trans %}common.button.edit{% endtrans %}" class="small edit button" /></form></li>
    		<li><form method="post" action="{{ path('legislator_comment_delete', {'document_id': document.id,'id': comment.id })}}" class="action"><input type="submit" name="delete" value="{% trans %}common.button.delete{% endtrans %}" class="small delete button" /></form></li>
    		{% endif %}
    		{% if can_reply %}
    		<li><form method="get" action="{{ path('legislator_comment_reply', {'document_id': document.id,'id': comment.id })}}" class="action"><input type="submit" name="reply" value="{% trans %}comment.button.reply{% endtrans %}" class="small reply button" /></form></li>
    		{% endif %}
		</ul>
		</td>
    	{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
	<p>{%trans %}document.view.no_comments{% endtrans %}</p>
{% endif %}

{% if show_add_comment %}
    <h3>{% if app.request.get('comment_id') %}{% trans %}document.view.edit_comment{% endtrans %}{% else %}{% trans %}document.view.add_a_comment{% endtrans %}{% endif %}</h3>
    <a name="comment-form"></a>
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if app.request.get('comment_id') %}
        <input type="submit" name="edit" value="{% trans %}comment.button.edit{% endtrans %}" class="edit button"/>
        {% else %}
        <input type="submit" name="add" value="{% trans %}comment.button.add{% endtrans %}" class="add button"/>
        {% endif %}
        {{ form_end(form) }}
    {% else %}
    	<p>Na pridanie komentáru je potrebné sa najskôr <a href="{{ path('fos_user_security_login') }}">prihlásiť</a>.</p>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}

