<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Vitajte!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '@LegislatorBundle/Resources/public/css/*' filter='cssrewrite' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{{ path('legislator_homepage') }}">Legislator</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
    	<ul class="right">
    		{% if app.user %}
    		<li><a href="{{ path('legislator_user_my_comments') }}">{% trans %}menu.my_comments{% endtrans %}</a></li>
    		<li class="divider"></li>
    		<li class="has-dropdown"><a href="#">{% trans %}menu.logged_in_as{% endtrans %} <span id="username">{{ app.user.username }}</span></a>

    		<ul class="dropdown">
                        {% if not cosign_login_enabled %}
        		<li><a href="{{ path('fos_user_profile_edit') }}">{% trans %}menu.edit_profile{% endtrans %}</a></li>
        		<li><a href="{{ path('fos_user_change_password') }}">{% trans %}menu.change_password{% endtrans %}</a></li>
                        {% endif %}
        		<li><a href="{{ path('fos_user_security_logout') }}">{% trans %}menu.logout{% endtrans %}</a></li>
    		</ul>

    		</li>
    		{% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}menu.login{% endtrans %}</a></li>
    		{% endif %}
    	</ul>
        </section>
    </nav>
        {% block body %}{% endblock %}

        <footer class="full-width">
        	<div class="row">
        		<div class="large-6 columns"><a href="{{ url('legislator_homepage') }}">Legislator</a> (<a href="https://github.com/kikoval/legislator">GitHub</a>) &copy; 2013 Kristián Valentín</div>
        		<div class="large-6 columns"><a title="Na začiatok stránky" href="#">Na začiatok ^</a></div>
        	</div>
        </footer>

        {% javascripts '@LegislatorBundle/Resources/public/js/vendor/*' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@LegislatorBundle/Resources/public/js/*' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
                $(document).foundation();
        </script>
    </body>
</html>
