{% extends "::base.html.twig" %}
{% import "LegislatorBundle::macros.html.twig" as macros %}

{% block title %}{% trans %}menu.my_comments{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 columns">

<h1>{% trans %}menu.my_comments{% endtrans %}</h1>
{% if comments %}
<table id="my-comments">
	<thead>
		<tr>
		    <th>Dokument</th>
			<th>{% trans %}comment.content{% endtrans %}</th>
			<th>{% trans %}comment.substantiation{% endtrans %}</th>
			<th>{% trans %}comment.reply{% endtrans %}</th>
			<th>{% trans %}common.modified_on{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	{% for comment in comments %}
	<tr class="comment{% if comment.isprincipal %} principal{% endif %}{% if comment.istechnical %} technical{% endif %}{% if comment.isAccepted %} accepted{% endif %}{% if comment.isRejected %} rejected{% endif %}">
        <td><a href="{{ path('legislator_document_view', {'id': comment.document.id}) }}">{{ comment.document.name }}</a></td>
	    <td>{{ comment.content }}</td>
		<td>{{ comment.substantiation }}</td>
		<td>{{ comment.reply }}</td>
		<td>{{ macros.datetime(comment.modifiedOn) }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p>Neboli nájdené žiadne pripomienky.</p>
{% endif %}

</div>
</div>
{% endblock %}
